Source: start-stop-parsec-daemon
Section: admin
Priority: optional
Maintainer: Лаборатория 50 <team@lab50.net>
Homepage: http://lab50.net
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7), pkg-config

Package: parsec-daemon
Architecture: any
Depends: ${misc:Depends}
Description: Debian package management system
 This package provides the low-level infrastructure for handling the
 installation and removal of Debian software packages.
 .
 For Debian package development tools, install dpkg-dev.
