Source: start-stop-parsec-daemon
Section: admin
Priority: optional
Maintainer: Лаборатория 50 <team@lab50.net>
Build-Depends: debhelper (>= 8), pkg-config, dh-autoreconf,
 libparsec-base2-dev,
 libparsec-mac2-dev
Standards-Version: 3.9.3
Homepage: http://lab50.net

Package: parsec-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PARSEC-compatible daemon management system
 start-stop-parsec-daemon is used to control the creation and
 termination of system-level processes.
 .
 For standard Debian package development tools, install dpkg.
